svg {
    font: 14px 'Open Sans';
  }

  #line_area_chart .axis path,
  #line_area_chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: #000;
  }

  .axis .tick line {
    stroke: rgba(0, 0, 0, 0.1);
  }

  .area {
    stroke-width: 1;
  }

  .area.outer,
  .legend .outer {
    fill: #dfeaf9
    /* fill: #aecbef; */
    /* stroke: rgba(216, 216, 255, 0.8); */
  }

  /*added legend and marker display none by: fazal-khan(software-engineer)*/
  .marker {
    display: none;
  }
  .legend {
      /* display: none; */
  }

  .area.inner,
  .legend .inner {
    fill: rgba(127, 127, 255, 0.8);
    /* fill: green; */
    stroke: rgba(96, 96, 255, 0.8);
  }

  .median-line,
  .legend .median-line {
    fill: none;
    stroke: #8b289e;
    /* stroke: #4792ab; */
    stroke-width: 1;
  }

  .legend {
      /* display: none; */
  }

  .legend .legend-bg {
      fill: #ffffff;
    /* fill: rgba(0, 0, 0, 0.3); */
    /* stroke: rgba(0, 0, 0, 0.5); */
  }

  .marker.client .marker-bg,
  .marker.client path {
    fill: rgba(255, 127, 0, 0.8);
    stroke: rgba(255, 127, 0, 0.8);
    stroke-width: 3;
  }

  .marker.server .marker-bg,
  .marker.server path {
    fill: rgba(0, 153, 51, 0.8);
    stroke: rgba(0, 153, 51, 0.8);
    stroke-width: 3;
  }

  .marker path {
    fill: none;
  }
,
  .marker text {
    fill: #fff;
    font-weight: bold;
  }

  .legend text {
      fill: #000000;
      font-size: 12px;
  }
  .marker text {
    text-anchor: middle;
  }

  .y.axis path {
    stroke: none;
  }

  .grid path {
      stroke: none;
  }

  .grid line {
      stroke: rgb(74, 73, 73);
      stroke-width: 0.3;
  }

  /* .grid .tick {
      stroke-width: 3;
      stroke: blue;
  } */

  .chart-baseline {
    fill: none;
    stroke: blue;
    stroke-width: 1;
  }

  .colored-circle {
      fill: #ffa305;
  }

  .mute-circle {
      display: none;
  }